* {
  box-sizing: border-box;
}

header {
  display: inline;
}

h2 {
  color: #776b5d;
}

.kucing {
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #d2e0fb;
}

nav {
  display: flex;
  background-color: #fef9d9;
  padding: 4px;
  position: sticky;
  top: 0;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

nav li {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  padding: 20px;
  gap: 1.5rem;
}

.content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

img {
  min-width: 100px;
  max-width: 300px;
  border-radius: 8px;
}

aside {
  flex: 1;
  padding: 30px;
  background-color: #dee5d4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

footer {
  padding: 16px;
  color: #000;
  background-color: #8eaccd;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}
